In [13]:
#Pregunta 3 y 4
#definimos el dataframe inicial
import pandas as pd
fallecidos = pd.read_csv('fallecidosCOVID.csv')
fallecidos

       FECHA_CORTE;FECHA_FALLECIMIENTO;EDAD_DECLARADA;SEXO;CLASIFICACION_DEF;DEPARTAMENTO;PROVINCIA;DISTRITO;UBIGEO;UUID
0       20240317;20220219;63;MASCULINO;Criterio viroló...
1       20240317;20210529;74;MASCULINO;Criterio viroló...
2       20240317;20210623;72;FEMENINO;Criterio SINADEF...
3       20240317;20210824;85;MASCULINO;Criterio invest...
4       20240317;20210627;46;MASCULINO;Criterio viroló...
...                                                   ...
220913  20240317;20200809;77;MASCULINO;Criterio radiol...
220914  20240317;20201028;81;MASCULINO;Criterio clínic...
220915  20240317;20200515;68;FEMENINO;Criterio SINADEF...
220916  20240317;20210414;66;FEMENINO;Criterio clínico...
220917  20240317;20200819;61;MASCULINO;Criterio nexo e...

[220918 rows x 1 columns]

In [25]:
type(fallecidos)

pandas.core.frame.DataFrame

In [53]:
#Separamos en columnas pertinentes la data desordenada
fallecidos['FECHA_CORTE;FECHA_FALLECIMIENTO;EDAD_DECLARADA;SEXO;CLASIFICACION_DEF;DEPARTAMENTO;PROVINCIA;DISTRITO;UBIGEO;UUID'] = fallecidos['FECHA_CORTE;FECHA_FALLECIMIENTO;EDAD_DECLARADA;SEXO;CLASIFICACION_DEF;DEPARTAMENTO;PROVINCIA;DISTRITO;UBIGEO;UUID'].astype(str)
columnas_nuevas = ['FECHA_CORTE', 'FECHA_FALLECIMIENTO', 'EDAD_DECLARADA', 'SEXO', 
                   'CLASIFICACION_DEF', 'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO', 
                   'UBIGEO', 'UUID']
fallecidos[columnas_nuevas] = fallecidos['FECHA_CORTE;FECHA_FALLECIMIENTO;EDAD_DECLARADA;SEXO;CLASIFICACION_DEF;DEPARTAMENTO;PROVINCIA;DISTRITO;UBIGEO;UUID'].str.split(';', expand=True)
fallecidos.drop(columns=['FECHA_CORTE;FECHA_FALLECIMIENTO;EDAD_DECLARADA;SEXO;CLASIFICACION_DEF;DEPARTAMENTO;PROVINCIA;DISTRITO;UBIGEO;UUID'], inplace=True)
print(fallecidos.head())

  FECHA_CORTE FECHA_FALLECIMIENTO EDAD_DECLARADA       SEXO  \
0    20240317            20220219             63  MASCULINO
1    20240317            20210529             74  MASCULINO
2    20240317            20210623             72   FEMENINO
3    20240317            20210824             85  MASCULINO
4    20240317            20210627             46  MASCULINO

                       CLASIFICACION_DEF DEPARTAMENTO PROVINCIA  \
0                    Criterio virológico       TUMBES    TUMBES
1                    Criterio virológico       TUMBES    TUMBES
2                       Criterio SINADEF        TACNA     TACNA
3  Criterio investigación Epidemiológica       TUMBES    TUMBES
4                    Criterio virológico        TACNA     TACNA

             DISTRITO  UBIGEO    UUID
0              TUMBES  240101  203506
1              TUMBES  240101  203532
2  ALTO DE LA ALIANZA  230102  203584
3              TUMBES  240101  212541
4  ALTO DE LA ALIANZA  230102  203665

In [55]:
fallecidos

,FECHA_CORTE,FECHA_FALLECIMIENTO,EDAD_DECLARADA,SEXO,CLASIFICACION_DEF,DEPARTAMENTO,PROVINCIA,DISTRITO,UBIGEO,UUID
0,20240317,20220219,63,MASCULINO,Criterio virológico,TUMBES,TUMBES,TUMBES,240101,203506
1,20240317,20210529,74,MASCULINO,Criterio virológico,TUMBES,TUMBES,TUMBES,240101,203532
2,20240317,20210623,72,FEMENINO,Criterio SINADEF,TACNA,TACNA,ALTO DE LA ALIANZA,230102,203584
3,20240317,20210824,85,MASCULINO,Criterio investigación Epidemiológica,TUMBES,TUMBES,TUMBES,240101,212541
4,20240317,20210627,46,MASCULINO,Criterio virológico,TACNA,TACNA,ALTO DE LA ALIANZA,230102,203665
...,...,...,...,...,...,...,...,...,...,...
220913,20240317,20200809,77,MASCULINO,Criterio radiológico,AREQUIPA,AREQUIPA,ALTO SELVA ALEGRE,040102,
220914,20240317,20201028,81,MASCULINO,Criterio clínico,LAMBAYEQUE,CHICLAYO,CHICLAYO,140101,
220915,20240317,20200515,68,FEMENINO,Criterio SINADEF,LIMA,LIMA,LA MOLINA,150114,
220916,20240317,20210414,66,FEMENINO,Criterio clínico,LIMA,LIMA,LOS OLIVOS,150117,
220917,20240317,20200819,61,MASCULINO,Criterio nexo epidemiológico,PIURA,PIURA,TAMBO GRANDE,200114,

In [61]:
fallecidos['FECHA_FALLECIMIENTO'].value_counts()
#Antes de hacer el pivottable vemos las frecuencias de cada fecha exacta

FECHA_FALLECIMIENTO
20210409    828
20210420    822
20210413    821
20210419    820
20210416    820
           ...
20230909      1
20231129      1
20230919      1
20240227      1
20231214      1
Name: count, Length: 1397, dtype: int64

In [67]:
#Como los datos de fallecimiento no estaban en formato de fecha se los cambia y se los separa.
fallecidos['FECHA_FALLECIMIENTO'] = pd.to_datetime(fallecidos['FECHA_FALLECIMIENTO'], format='%Y%m%d')
fallecidos['AÑO'] = fallecidos['FECHA_FALLECIMIENTO'].dt.year
fallecidos['MES'] = fallecidos['FECHA_FALLECIMIENTO'].dt.month
fallecidos['DÍA'] = fallecidos['FECHA_FALLECIMIENTO'].dt.day
fallecidos

,FECHA_CORTE,FECHA_FALLECIMIENTO,EDAD_DECLARADA,SEXO,CLASIFICACION_DEF,DEPARTAMENTO,PROVINCIA,DISTRITO,UBIGEO,UUID,AÑO,MES,DÍA
0,20240317,2022-02-19,63,MASCULINO,Criterio virológico,TUMBES,TUMBES,TUMBES,240101,203506,2022,2,19
1,20240317,2021-05-29,74,MASCULINO,Criterio virológico,TUMBES,TUMBES,TUMBES,240101,203532,2021,5,29
2,20240317,2021-06-23,72,FEMENINO,Criterio SINADEF,TACNA,TACNA,ALTO DE LA ALIANZA,230102,203584,2021,6,23
3,20240317,2021-08-24,85,MASCULINO,Criterio investigación Epidemiológica,TUMBES,TUMBES,TUMBES,240101,212541,2021,8,24
4,20240317,2021-06-27,46,MASCULINO,Criterio virológico,TACNA,TACNA,ALTO DE LA ALIANZA,230102,203665,2021,6,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
220913,20240317,2020-08-09,77,MASCULINO,Criterio radiológico,AREQUIPA,AREQUIPA,ALTO SELVA ALEGRE,040102,,2020,8,9
220914,20240317,2020-10-28,81,MASCULINO,Criterio clínico,LAMBAYEQUE,CHICLAYO,CHICLAYO,140101,,2020,10,28
220915,20240317,2020-05-15,68,FEMENINO,Criterio SINADEF,LIMA,LIMA,LA MOLINA,150114,,2020,5,15
220916,20240317,2021-04-14,66,FEMENINO,Criterio clínico,LIMA,LIMA,LOS OLIVOS,150117,,2021,4,14
220917,20240317,2020-08-19,61,MASCULINO,Criterio nexo epidemiológico,PIURA,PIURA,TAMBO GRANDE,200114,,2020,8,19

In [75]:
#Se examina la frecuencia de los años
dato1 = fallecidos['AÑO'].value_counts()
dato1

AÑO
2021    107962
2020     95331
2022     14742
2023      2570
2024       313
Name: count, dtype: int64

In [101]:
#Se examina la frecuencia de los meses
dato2 = fallecidos['MES'].value_counts()
dato2

MES
5     34003
4     29322
6     26017
7     23265
2     22497
3     22468
8     21196
1     15357
9     10529
10     5992
12     5631
11     4641
Name: count, dtype: int64

In [94]:
#Se elabora la tabla pedida en la pregunta 3
frecuencia = fallecidos.groupby(['AÑO', 'MES']).size().reset_index(name='FRECUENCIA')
frecuencia

     AÑO  MES  FRECUENCIA
0   2020    3         181
1   2020    4        5134
2   2020    5       16363
3   2020    6       17462
4   2020    7       18501
5   2020    8       17668
6   2020    9        8437
7   2020   10        4471
8   2020   11        3229
9   2020   12        3885
10  2021    1       11175
11  2021    2       18645
12  2021    3       20691
13  2021    4       23110
14  2021    5       16692
15  2021    6        7722
16  2021    7        3481
17  2021    8        1850
18  2021    9        1140
19  2021   10        1066
20  2021   11        1107
21  2021   12        1283
22  2022    1        3562
23  2022    2        3503
24  2022    3        1299
25  2022    4         741
26  2022    5         625
27  2022    6         542
28  2022    7        1025
29  2022    8        1429
30  2022    9         892
31  2022   10         429
32  2022   11         272
33  2022   12         423
34  2023    1         371
35  2023    2         287
36  2023    3         295
37  2023    4         337
38  2023    5         323
39  2023    6         291
40  2023    7         258
41  2023    8         249
42  2023    9          60
43  2023   10          26
44  2023   11          33
45  2023   12          40
46  2024    1         249
47  2024    2          62
48  2024    3           2

In [115]:
#Se elabora la pivot table pedida en (4)
reporte2 = pd.pivot_table(
    fallecidos,
    index=['AÑO', 'MES'],
    columns='CLASIFICACION_DEF',
    aggfunc='size',
    fill_value=0
).reset_index()

reporte2

CLASIFICACION_DEF,AÑO,MES,Criterio SINADEF,Criterio clínico,Criterio investigación Epidemiológica,Criterio nexo epidemiológico,Criterio radiológico,Criterio serológico,Criterio virológico,NotiCovid,sinadef
0,2020,3,35,52,25,2,7,2,58,0,0
1,2020,4,1793,541,498,68,182,778,1274,0,0
2,2020,5,6826,1152,1427,203,480,3233,3042,0,0
3,2020,6,5722,670,1706,251,391,5605,3117,0,0
4,2020,7,5012,609,1512,262,415,7501,3190,0,0
5,2020,8,4589,611,1456,208,534,7400,2870,0,0
6,2020,9,1984,475,755,105,233,3483,1402,0,0
7,2020,10,1091,463,469,50,172,1417,809,0,0
8,2020,11,704,462,307,37,186,867,666,0,0
9,2020,12,802,547,171,41,179,1047,1098,0,0
10,2021,1,2190,514,323,107,434,2448,5159,0,0
11,2021,2,4993,501,465,150,556,2539,9441,0,0
12,2021,3,6100,525,517,229,456,1703,11161,0,0
13,2021,4,7450,748,591,246,363,1488,12224,0,0
14,2021,5,5225,628,349,155,283,1175,8877,0,0
15,2021,6,2723,116,123,51,138,746,3825,0,0
16,2021,7,1025,113,67,35,68,521,1652,0,0
17,2021,8,578,75,22,15,36,287,837,0,0
18,2021,9,554,12,0,0,0,190,384,0,0
19,2021,10,469,12,0,0,0,148,437,0,0
20,2021,11,441,16,0,0,0,157,493,0,0
21,2021,12,585,8,0,0,0,133,557,0,0
22,2022,1,1894,22,0,0,0,41,1605,0,0
23,2022,2,1604,20,0,0,0,1,1878,0,0
24,2022,3,352,6,0,0,0,0,941,0,0
25,2022,4,131,9,0,0,0,0,601,0,0
26,2022,5,85,3,0,0,0,0,537,0,0
27,2022,6,81,3,0,0,0,0,458,0,0
28,2022,7,299,3,0,0,0,0,723,0,0
29,2022,8,405,6,0,0,0,0,1018,0,0
30,2022,9,154,12,0,0,0,0,726,0,0
31,2022,10,53,59,0,0,0,0,317,0,0
32,2022,11,23,0,0,0,0,0,249,0,0
33,2022,12,66,0,0,0,0,0,357,0,0
34,2023,1,34,1,0,0,0,0,336,0,0
35,2023,2,4,0,0,0,0,0,283,0,0
36,2023,3,6,0,0,0,0,0,289,0,0
37,2023,4,17,0,0,0,0,0,320,0,0
38,2023,5,6,0,0,0,0,0,317,0,0
39,2023,6,2,0,0,0,0,0,289,0,0
40,2023,7,3,0,0,0,0,0,255,0,0
41,2023,8,7,0,0,0,0,0,242,0,0
42,2023,9,7,0,0,0,0,0,53,0,0
43,2023,10,8,0,0,0,0,0,18,0,0
44,2023,11,13,0,0,0,0,0,20,0,0
45,2023,12,17,0,0,0,0,0,22,1,0
46,2024,1,35,0,0,0,0,0,83,115,16
47,2024,2,1,0,0,0,0,0,45,16,0
48,2024,3,0,0,0,0,0,0,2,0,0

In [1]:
#PARA LAS PREGUNTAS 1 Y 2

In [5]:
#El primer dataframe
!pip install pandas openpyxl
import pandas as pd
level1 = pd.read_excel('level1.xlsx')
level1

Requirement already satisfied: pandas in c:\users\usuario\anaconda3\envs\curso1\lib\site-packages (2.2.2)
Requirement already satisfied: openpyxl in c:\users\usuario\anaconda3\envs\curso1\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.23.2 in c:\users\usuario\anaconda3\envs\curso1\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\usuario\anaconda3\envs\curso1\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\usuario\anaconda3\envs\curso1\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\usuario\anaconda3\envs\curso1\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: et-xmlfile in c:\users\usuario\anaconda3\envs\curso1\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\usuario\anaconda3\envs\curso1\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

,Unnamed: 0,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,SDG3,NaN,SDG4.3,NaN,SDG4.4,NaN,SDG8.5,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HDI rank,Country,Human Development Index (HDI),NaN,Life expectancy at birth,NaN,Expected years of schooling,NaN,Mean years of schooling,NaN,Gross national income (GNI) per capita,NaN,GNI per capita rank minus HDI rank,NaN,HDI rank,NaN
4,NaN,NaN,Value,NaN,(years),NaN,(years),NaN,(years),NaN,(2017 PPP $),NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,62,Malaysia,0.803,NaN,74.8839,NaN,13.34304,NaN,10.64506,NaN,26657.94355,NaN,-8,NaN,61,VERY HIGH HUMAN DEVELOPMENT
68,63,Georgia,0.802,NaN,71.694,NaN,15.56852,NaN,12.82222,NaN,14664.16825,NaN,17,NaN,64,VERY HIGH HUMAN DEVELOPMENT
69,63,Mauritius,0.802,NaN,73.5552,NaN,15.17353,e,10.42791,e,22025.34631,NaN,-1,NaN,62,VERY HIGH HUMAN DEVELOPMENT
70,63,Serbia,0.802,NaN,74.1923,NaN,14.40009,NaN,11.36987,NaN,19123.02747,NaN,4,NaN,62,VERY HIGH HUMAN DEVELOPMENT
71,66,Thailand,0.8,NaN,78.7154,NaN,15.882219,m,8.69712,NaN,17030.15352,NaN,6,NaN,64,VERY HIGH HUMAN DEVELOPMENT

In [ ]:
#Eliminamos las columnas inservibles
columnas_inservibles = level1.columns[[3,5,7,9,11,13]]
level1=level1.drop(columns=columnas_inservibles)

In [8]:
level1

,Unnamed: 0,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14,Unnamed: 15
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,SDG3,SDG4.3,SDG4.4,SDG8.5,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank,NaN
4,NaN,NaN,Value,(years),(years),(years),(2017 PPP $),NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
67,62,Malaysia,0.803,74.8839,13.34304,10.64506,26657.94355,-8,61,VERY HIGH HUMAN DEVELOPMENT
68,63,Georgia,0.802,71.694,15.56852,12.82222,14664.16825,17,64,VERY HIGH HUMAN DEVELOPMENT
69,63,Mauritius,0.802,73.5552,15.17353,10.42791,22025.34631,-1,62,VERY HIGH HUMAN DEVELOPMENT
70,63,Serbia,0.802,74.1923,14.40009,11.36987,19123.02747,4,62,VERY HIGH HUMAN DEVELOPMENT
71,66,Thailand,0.8,78.7154,15.882219,8.69712,17030.15352,6,64,VERY HIGH HUMAN DEVELOPMENT

In [ ]:

#Eliminamos las primeras filas que no tienen informacion util
level1=level1.drop(range(0,7))

In [12]:
level1

,Unnamed: 0,Table 1. Human Development Index and its components,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 8,Unnamed: 10,Unnamed: 12,Unnamed: 14,Unnamed: 15
7,2,Norway,0.961,83.2339,18.1852,13.00363,64660.10622,6,1,VERY HIGH HUMAN DEVELOPMENT
8,3,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981,11,2,VERY HIGH HUMAN DEVELOPMENT
9,4,"Hong Kong, China (SAR)",0.952,85.4734,17.27817,12.22621,62606.8454,6,4,VERY HIGH HUMAN DEVELOPMENT
10,5,Australia,0.951,84.5265,21.05459,12.72682,49238.43335,18,5,VERY HIGH HUMAN DEVELOPMENT
11,6,Denmark,0.948,81.3753,18.7148,12.96049,60364.78595,6,5,VERY HIGH HUMAN DEVELOPMENT
...,...,...,...,...,...,...,...,...,...,...
67,62,Malaysia,0.803,74.8839,13.34304,10.64506,26657.94355,-8,61,VERY HIGH HUMAN DEVELOPMENT
68,63,Georgia,0.802,71.694,15.56852,12.82222,14664.16825,17,64,VERY HIGH HUMAN DEVELOPMENT
69,63,Mauritius,0.802,73.5552,15.17353,10.42791,22025.34631,-1,62,VERY HIGH HUMAN DEVELOPMENT
70,63,Serbia,0.802,74.1923,14.40009,11.36987,19123.02747,4,62,VERY HIGH HUMAN DEVELOPMENT
71,66,Thailand,0.8,78.7154,15.882219,8.69712,17030.15352,6,64,VERY HIGH HUMAN DEVELOPMENT

In [36]:
#Renombramos las columnas segun lo observado en el excel
nuevos_nombres={'Unnamed: 0':'HDI_Rank','Table 1. Human Development Index and its components ':'Country','Unnamed: 2':'HDI_Index','Unnamed: 4':'Life_Expectancy',
                'Unnamed: 6':'Expected_schooling_years','Unnamed: 8':'Mean_schooling_years','Unnamed: 10':'GNI_per_capita','Unnamed: 12':'GNIRank_minus_HDIRank',
                'Unnamed: 14':'HDI_Rank_2020'}
level1.rename(columns=nuevos_nombres, inplace=True)
level1

,HDI_Rank,Country,HDI_Index,Life_Expectancy,Expected_schooling_years,Mean_schooling_years,GNI_per_capita,GNIRank_minus_HDIRank,HDI_Rank_2020,Unnamed: 15
7,2,Norway,0.961,83.2339,18.1852,13.00363,64660.10622,6,1,VERY HIGH HUMAN DEVELOPMENT
8,3,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981,11,2,VERY HIGH HUMAN DEVELOPMENT
9,4,"Hong Kong, China (SAR)",0.952,85.4734,17.27817,12.22621,62606.8454,6,4,VERY HIGH HUMAN DEVELOPMENT
10,5,Australia,0.951,84.5265,21.05459,12.72682,49238.43335,18,5,VERY HIGH HUMAN DEVELOPMENT
11,6,Denmark,0.948,81.3753,18.7148,12.96049,60364.78595,6,5,VERY HIGH HUMAN DEVELOPMENT
...,...,...,...,...,...,...,...,...,...,...
67,62,Malaysia,0.803,74.8839,13.34304,10.64506,26657.94355,-8,61,VERY HIGH HUMAN DEVELOPMENT
68,63,Georgia,0.802,71.694,15.56852,12.82222,14664.16825,17,64,VERY HIGH HUMAN DEVELOPMENT
69,63,Mauritius,0.802,73.5552,15.17353,10.42791,22025.34631,-1,62,VERY HIGH HUMAN DEVELOPMENT
70,63,Serbia,0.802,74.1923,14.40009,11.36987,19123.02747,4,62,VERY HIGH HUMAN DEVELOPMENT
71,66,Thailand,0.8,78.7154,15.882219,8.69712,17030.15352,6,64,VERY HIGH HUMAN DEVELOPMENT

In [16]:
#Realizamos el mismo proceso con las otras partes del dataframe

In [17]:
#El segundo dataframe
!pip install pandas openpyxl
import pandas as pd
level2 = pd.read_excel('level2.xlsx')
level2

Requirement already satisfied: pandas in c:\users\usuario\anaconda3\envs\curso1\lib\site-packages (2.2.2)
Requirement already satisfied: openpyxl in c:\users\usuario\anaconda3\envs\curso1\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.23.2 in c:\users\usuario\anaconda3\envs\curso1\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\usuario\anaconda3\envs\curso1\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\usuario\anaconda3\envs\curso1\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\usuario\anaconda3\envs\curso1\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: et-xmlfile in c:\users\usuario\anaconda3\envs\curso1\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\usuario\anaconda3\envs\curso1\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Unnamed: 6,Gross national income (GNI) per capita,Unnamed: 8,GNI per capita rank minus HDI rank,Unnamed: 10,HDI rank.1
0,NaN,NaN,2021.000,2021.0000,2021.000000,2021.000000,a,2021.000000,NaN,2021.0,b,2020.0
1,NaN,HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,67.0,Albania,0.796,76.4626,14.448000,11.286455,e,14131.110390,NaN,17.0,NaN,68.0
3,68.0,Bulgaria,0.795,71.7980,13.897290,11.413180,NaN,23078.955950,NaN,-8.0,NaN,64.0
4,68.0,Grenada,0.795,74.9362,18.662020,9.032104,l,13483.577400,NaN,18.0,NaN,70.0
5,70.0,Barbados,0.790,77.5714,15.713385,9.852701,n,12306.341000,NaN,26.0,NaN,71.0
6,71.0,Antigua and Barbuda,0.788,78.4968,14.184626,9.293741,j,16792.365950,NaN,2.0,NaN,71.0
7,72.0,Seychelles,0.785,71.2945,13.941610,10.283120,NaN,25830.617750,NaN,-17.0,NaN,69.0
8,73.0,Sri Lanka,0.782,76.3991,14.139905,10.827300,NaN,12578.220550,NaN,21.0,NaN,75.0
9,74.0,Bosnia and Herzegovina,0.780,75.3003,13.800000,10.536320,NaN,15241.914650,NaN,4.0,NaN,73.0
10,75.0,Saint Kitts and Nevis,0.777,71.6822,15.427692,8.662745,l,23358.332120,NaN,-16.0,NaN,76.0
11,76.0,Iran (Islamic Republic of),0.774,73.8749,14.615250,10.636453,e,13000.711700,NaN,15.0,NaN,77.0
12,77.0,Ukraine,0.773,71.6240,14.956569,11.131420,n,13255.509770,NaN,11.0,NaN,78.0
13,78.0,North Macedonia,0.770,73.8415,13.624432,10.228150,NaN,15917.752830,NaN,-3.0,NaN,79.0
14,79.0,China,0.768,78.2107,14.236115,7.600118,n,17504.399690,NaN,-8.0,NaN,82.0
15,80.0,Dominican Republic,0.767,72.6146,14.466558,9.306864,o,17989.600370,NaN,-11.0,NaN,82.0
16,80.0,Moldova (Republic of),0.767,68.8459,14.433000,11.821590,NaN,14875.331890,NaN,-1.0,NaN,81.0
17,80.0,Palau,0.767,66.0204,15.784320,12.491430,p,13818.678690,NaN,5.0,NaN,80.0
18,83.0,Cuba,0.764,73.6829,14.443060,12.497734,e,7878.847482,q,37.0,NaN,73.0
19,84.0,Peru,0.762,72.3769,15.387734,9.885519,e,12245.893660,NaN,13.0,NaN,85.0
20,85.0,Armenia,0.759,72.0431,13.116760,11.330300,NaN,13157.993900,NaN,4.0,NaN,87.0
21,86.0,Mexico,0.758,70.2127,14.864440,9.221050,NaN,17896.294980,NaN,-16.0,NaN,88.0
22,87.0,Brazil,0.754,72.7504,15.599060,8.128814,e,14369.888480,NaN,-5.0,NaN,86.0
23,88.0,Colombia,0.752,72.8296,14.442750,8.862860,NaN,14384.356660,NaN,-7.0,NaN,88.0
24,89.0,Saint Vincent and the Grenadines,0.751,69.6291,14.672206,10.833430,NaN,11961.087920,NaN,11.0,NaN,82.0
25,90.0,Maldives,0.747,79.9182,12.635610,7.322000,NaN,15448.127880,NaN,-14.0,NaN,97.0
26,91.0,Algeria,0.745,76.3767,14.626896,8.069284,e,10800.225460,NaN,13.0,NaN,96.0
27,91.0,Azerbaijan,0.745,69.3658,13.496890,10.542970,NaN,14256.744560,NaN,-8.0,NaN,100.0
28,91.0,Tonga,0.745,70.9857,16.048571,11.392594,n,6822.031250,NaN,34.0,NaN,90.0
29,91.0,Turkmenistan,0.745,69.2644,13.210400,11.261390,NaN,13020.715500,NaN,-1.0,NaN,93.0
30,95.0,Ecuador,0.740,73.6700,14.624230,8.817120,NaN,10311.632730,NaN,11.0,NaN,99.0
31,96.0,Mongolia,0.739,70.9754,14.980350,9.423700,NaN,10588.225320,NaN,9.0,NaN,90.0
32,97.0,Egypt,0.731,70.2207,13.786500,9.573026,e,11731.690560,NaN,4.0,NaN,97.0
33,97.0,Tunisia,0.731,73.7719,15.425382,7.431599,e,10257.544770,NaN,10.0,NaN,94.0
34,99.0,Fiji,0.730,67.1140,14.736790,10.921548,e,9980.110866,NaN,9.0,NaN,94.0
35,99.0,Suriname,0.730,70.2743,13.035644,9.776801,m,12672.200330,NaN,-6.0,NaN,92.0
36,101.0,Uzbekistan,0.727,70.8616,12.477140,11.895590,NaN,7916.785725,NaN,18.0,NaN,107.0
37,102.0,Dominica,0.720,72.8140,13.319186,8.142186,j,11487.624220,NaN,0.0,NaN,106.0
38,102.0,Jordan,0.720,74.2563,10.646560,10.446680,NaN,9923.714974,NaN,8.0,NaN,104.0
39,104.0,Libya,0.718,71.9112,12.854280,7.599985,r,15335.712000,NaN,-27.0,NaN,117.0
40,105.0,Paraguay,0.717,70.2617,12.987991,8.861840,NaN,12349.286000,NaN,-10.0,NaN,100.0
41,106.0,"Palestine, State of",0.715,73.4727,13.358010,9.938480,NaN,6582.899416,NaN,21.0,NaN,109.0
42,106.0,Saint Lucia,0.715,71.1114,12.866110,8.545040,NaN,12048.303810,NaN,-7.0,NaN,104.0
43,108.0,Guyana,0.714,65.6734,12.502722,8.617477,NaN,22464.657340,NaN,-47.0,NaN,107.0
44,109.0,South Africa,0.713,62.3410,13.643710,11.373160,NaN,12948.373250,NaN,-17.0,NaN,102.0
45,110.0,Jamaica,0.709,70.5003,13.404920,9.154629,e,8834.475670,NaN,4.0,NaN,110.0
46,111.0,Samoa,0.707,72.7675,12.418859,11.403800,NaN,5307.953374,NaN,24.0,NaN,112.0
47,112.0,Gabon,0.706,65.8210,12.977310,9.436000,NaN,13366.934550,NaN,-25.0,NaN,113.0
48,112.0,Lebanon,0.706,75.0472,11.285870,8.718636,l,9525.831467,NaN,-1.0,NaN,103.0
49,114.0,Indonesia,0.705,67.5703,13.748894,8.556510,NaN,11466.068360,NaN,-11.0,NaN,116.0
50,115.0,Viet Nam,0.703,73.6181,12.951932,8.370280,NaN,7867.371345,NaN,6.0,NaN,113.0

In [23]:
level2 = level2.drop(1)
columnas_inservibles2 = level2.columns[[6,8,10]]
level2=level2.drop(columns=columnas_inservibles2)
level2

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank.1
2,67.0,Albania,0.796,76.4626,14.448000,11.286455,14131.110390,17.0,68.0
3,68.0,Bulgaria,0.795,71.7980,13.897290,11.413180,23078.955950,-8.0,64.0
4,68.0,Grenada,0.795,74.9362,18.662020,9.032104,13483.577400,18.0,70.0
5,70.0,Barbados,0.790,77.5714,15.713385,9.852701,12306.341000,26.0,71.0
6,71.0,Antigua and Barbuda,0.788,78.4968,14.184626,9.293741,16792.365950,2.0,71.0
7,72.0,Seychelles,0.785,71.2945,13.941610,10.283120,25830.617750,-17.0,69.0
8,73.0,Sri Lanka,0.782,76.3991,14.139905,10.827300,12578.220550,21.0,75.0
9,74.0,Bosnia and Herzegovina,0.780,75.3003,13.800000,10.536320,15241.914650,4.0,73.0
10,75.0,Saint Kitts and Nevis,0.777,71.6822,15.427692,8.662745,23358.332120,-16.0,76.0
11,76.0,Iran (Islamic Republic of),0.774,73.8749,14.615250,10.636453,13000.711700,15.0,77.0
12,77.0,Ukraine,0.773,71.6240,14.956569,11.131420,13255.509770,11.0,78.0
13,78.0,North Macedonia,0.770,73.8415,13.624432,10.228150,15917.752830,-3.0,79.0
14,79.0,China,0.768,78.2107,14.236115,7.600118,17504.399690,-8.0,82.0
15,80.0,Dominican Republic,0.767,72.6146,14.466558,9.306864,17989.600370,-11.0,82.0
16,80.0,Moldova (Republic of),0.767,68.8459,14.433000,11.821590,14875.331890,-1.0,81.0
17,80.0,Palau,0.767,66.0204,15.784320,12.491430,13818.678690,5.0,80.0
18,83.0,Cuba,0.764,73.6829,14.443060,12.497734,7878.847482,37.0,73.0
19,84.0,Peru,0.762,72.3769,15.387734,9.885519,12245.893660,13.0,85.0
20,85.0,Armenia,0.759,72.0431,13.116760,11.330300,13157.993900,4.0,87.0
21,86.0,Mexico,0.758,70.2127,14.864440,9.221050,17896.294980,-16.0,88.0
22,87.0,Brazil,0.754,72.7504,15.599060,8.128814,14369.888480,-5.0,86.0
23,88.0,Colombia,0.752,72.8296,14.442750,8.862860,14384.356660,-7.0,88.0
24,89.0,Saint Vincent and the Grenadines,0.751,69.6291,14.672206,10.833430,11961.087920,11.0,82.0
25,90.0,Maldives,0.747,79.9182,12.635610,7.322000,15448.127880,-14.0,97.0
26,91.0,Algeria,0.745,76.3767,14.626896,8.069284,10800.225460,13.0,96.0
27,91.0,Azerbaijan,0.745,69.3658,13.496890,10.542970,14256.744560,-8.0,100.0
28,91.0,Tonga,0.745,70.9857,16.048571,11.392594,6822.031250,34.0,90.0
29,91.0,Turkmenistan,0.745,69.2644,13.210400,11.261390,13020.715500,-1.0,93.0
30,95.0,Ecuador,0.740,73.6700,14.624230,8.817120,10311.632730,11.0,99.0
31,96.0,Mongolia,0.739,70.9754,14.980350,9.423700,10588.225320,9.0,90.0
32,97.0,Egypt,0.731,70.2207,13.786500,9.573026,11731.690560,4.0,97.0
33,97.0,Tunisia,0.731,73.7719,15.425382,7.431599,10257.544770,10.0,94.0
34,99.0,Fiji,0.730,67.1140,14.736790,10.921548,9980.110866,9.0,94.0
35,99.0,Suriname,0.730,70.2743,13.035644,9.776801,12672.200330,-6.0,92.0
36,101.0,Uzbekistan,0.727,70.8616,12.477140,11.895590,7916.785725,18.0,107.0
37,102.0,Dominica,0.720,72.8140,13.319186,8.142186,11487.624220,0.0,106.0
38,102.0,Jordan,0.720,74.2563,10.646560,10.446680,9923.714974,8.0,104.0
39,104.0,Libya,0.718,71.9112,12.854280,7.599985,15335.712000,-27.0,117.0
40,105.0,Paraguay,0.717,70.2617,12.987991,8.861840,12349.286000,-10.0,100.0
41,106.0,"Palestine, State of",0.715,73.4727,13.358010,9.938480,6582.899416,21.0,109.0
42,106.0,Saint Lucia,0.715,71.1114,12.866110,8.545040,12048.303810,-7.0,104.0
43,108.0,Guyana,0.714,65.6734,12.502722,8.617477,22464.657340,-47.0,107.0
44,109.0,South Africa,0.713,62.3410,13.643710,11.373160,12948.373250,-17.0,102.0
45,110.0,Jamaica,0.709,70.5003,13.404920,9.154629,8834.475670,4.0,110.0
46,111.0,Samoa,0.707,72.7675,12.418859,11.403800,5307.953374,24.0,112.0
47,112.0,Gabon,0.706,65.8210,12.977310,9.436000,13366.934550,-25.0,113.0
48,112.0,Lebanon,0.706,75.0472,11.285870,8.718636,9525.831467,-1.0,103.0
49,114.0,Indonesia,0.705,67.5703,13.748894,8.556510,11466.068360,-11.0,116.0
50,115.0,Viet Nam,0.703,73.6181,12.951932,8.370280,7867.371345,6.0,113.0

In [35]:
nuevos_nombres2={'HDI rank	':'HDI_Rank','Human Development Index (HDI) ':'HDI_Index','Life expectancy at birth':'Life_Expectancy',
                'Expected years of schooling':'Expected_schooling_years','Mean years of schooling':'Mean_schooling_years','Gross national income (GNI) per capita':'GNI_per_capita','GNI per capita rank minus HDI rank':'GNIRank_minus_HDIRank',
                'HDI rank.1':'HDI_Rank_2020'}
level2.rename(columns=nuevos_nombres2, inplace=True)
level2

,HDI rank,Country,HDI_Index,Life_Expectancy,Expected_schooling_years,Mean_schooling_years,GNI_per_capita,GNIRank_minus_HDIRank,HDI_Rank_2020
2,67.0,Albania,0.796,76.4626,14.448000,11.286455,14131.110390,17.0,68.0
3,68.0,Bulgaria,0.795,71.7980,13.897290,11.413180,23078.955950,-8.0,64.0
4,68.0,Grenada,0.795,74.9362,18.662020,9.032104,13483.577400,18.0,70.0
5,70.0,Barbados,0.790,77.5714,15.713385,9.852701,12306.341000,26.0,71.0
6,71.0,Antigua and Barbuda,0.788,78.4968,14.184626,9.293741,16792.365950,2.0,71.0
7,72.0,Seychelles,0.785,71.2945,13.941610,10.283120,25830.617750,-17.0,69.0
8,73.0,Sri Lanka,0.782,76.3991,14.139905,10.827300,12578.220550,21.0,75.0
9,74.0,Bosnia and Herzegovina,0.780,75.3003,13.800000,10.536320,15241.914650,4.0,73.0
10,75.0,Saint Kitts and Nevis,0.777,71.6822,15.427692,8.662745,23358.332120,-16.0,76.0
11,76.0,Iran (Islamic Republic of),0.774,73.8749,14.615250,10.636453,13000.711700,15.0,77.0
12,77.0,Ukraine,0.773,71.6240,14.956569,11.131420,13255.509770,11.0,78.0
13,78.0,North Macedonia,0.770,73.8415,13.624432,10.228150,15917.752830,-3.0,79.0
14,79.0,China,0.768,78.2107,14.236115,7.600118,17504.399690,-8.0,82.0
15,80.0,Dominican Republic,0.767,72.6146,14.466558,9.306864,17989.600370,-11.0,82.0
16,80.0,Moldova (Republic of),0.767,68.8459,14.433000,11.821590,14875.331890,-1.0,81.0
17,80.0,Palau,0.767,66.0204,15.784320,12.491430,13818.678690,5.0,80.0
18,83.0,Cuba,0.764,73.6829,14.443060,12.497734,7878.847482,37.0,73.0
19,84.0,Peru,0.762,72.3769,15.387734,9.885519,12245.893660,13.0,85.0
20,85.0,Armenia,0.759,72.0431,13.116760,11.330300,13157.993900,4.0,87.0
21,86.0,Mexico,0.758,70.2127,14.864440,9.221050,17896.294980,-16.0,88.0
22,87.0,Brazil,0.754,72.7504,15.599060,8.128814,14369.888480,-5.0,86.0
23,88.0,Colombia,0.752,72.8296,14.442750,8.862860,14384.356660,-7.0,88.0
24,89.0,Saint Vincent and the Grenadines,0.751,69.6291,14.672206,10.833430,11961.087920,11.0,82.0
25,90.0,Maldives,0.747,79.9182,12.635610,7.322000,15448.127880,-14.0,97.0
26,91.0,Algeria,0.745,76.3767,14.626896,8.069284,10800.225460,13.0,96.0
27,91.0,Azerbaijan,0.745,69.3658,13.496890,10.542970,14256.744560,-8.0,100.0
28,91.0,Tonga,0.745,70.9857,16.048571,11.392594,6822.031250,34.0,90.0
29,91.0,Turkmenistan,0.745,69.2644,13.210400,11.261390,13020.715500,-1.0,93.0
30,95.0,Ecuador,0.740,73.6700,14.624230,8.817120,10311.632730,11.0,99.0
31,96.0,Mongolia,0.739,70.9754,14.980350,9.423700,10588.225320,9.0,90.0
32,97.0,Egypt,0.731,70.2207,13.786500,9.573026,11731.690560,4.0,97.0
33,97.0,Tunisia,0.731,73.7719,15.425382,7.431599,10257.544770,10.0,94.0
34,99.0,Fiji,0.730,67.1140,14.736790,10.921548,9980.110866,9.0,94.0
35,99.0,Suriname,0.730,70.2743,13.035644,9.776801,12672.200330,-6.0,92.0
36,101.0,Uzbekistan,0.727,70.8616,12.477140,11.895590,7916.785725,18.0,107.0
37,102.0,Dominica,0.720,72.8140,13.319186,8.142186,11487.624220,0.0,106.0
38,102.0,Jordan,0.720,74.2563,10.646560,10.446680,9923.714974,8.0,104.0
39,104.0,Libya,0.718,71.9112,12.854280,7.599985,15335.712000,-27.0,117.0
40,105.0,Paraguay,0.717,70.2617,12.987991,8.861840,12349.286000,-10.0,100.0
41,106.0,"Palestine, State of",0.715,73.4727,13.358010,9.938480,6582.899416,21.0,109.0
42,106.0,Saint Lucia,0.715,71.1114,12.866110,8.545040,12048.303810,-7.0,104.0
43,108.0,Guyana,0.714,65.6734,12.502722,8.617477,22464.657340,-47.0,107.0
44,109.0,South Africa,0.713,62.3410,13.643710,11.373160,12948.373250,-17.0,102.0
45,110.0,Jamaica,0.709,70.5003,13.404920,9.154629,8834.475670,4.0,110.0
46,111.0,Samoa,0.707,72.7675,12.418859,11.403800,5307.953374,24.0,112.0
47,112.0,Gabon,0.706,65.8210,12.977310,9.436000,13366.934550,-25.0,113.0
48,112.0,Lebanon,0.706,75.0472,11.285870,8.718636,9525.831467,-1.0,103.0
49,114.0,Indonesia,0.705,67.5703,13.748894,8.556510,11466.068360,-11.0,116.0
50,115.0,Viet Nam,0.703,73.6181,12.951932,8.370280,7867.371345,6.0,113.0

In [25]:
#Para el tercero
!pip install pandas openpyxl
import pandas as pd
level3 = pd.read_excel('level3.xlsx')
level3

Requirement already satisfied: pandas in c:\users\usuario\anaconda3\envs\curso1\lib\site-packages (2.2.2)
Requirement already satisfied: openpyxl in c:\users\usuario\anaconda3\envs\curso1\lib\site-packages (3.1.5)
Requirement already satisfied: numpy>=1.23.2 in c:\users\usuario\anaconda3\envs\curso1\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\usuario\anaconda3\envs\curso1\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\usuario\anaconda3\envs\curso1\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\usuario\anaconda3\envs\curso1\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: et-xmlfile in c:\users\usuario\anaconda3\envs\curso1\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\usuario\anaconda3\envs\curso1\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

,HDI rank,Country,Human Development Index (HDI),Unnamed: 3,Life expectancy at birth,Unnamed: 5,Expected years of schooling,Unnamed: 7,Mean years of schooling,Unnamed: 9,Gross national income (GNI) per capita,Unnamed: 11,GNI per capita rank minus HDI rank,Unnamed: 13,HDI rank.1
0,NaN,NaN,2021.000,NaN,2021.0000,NaN,2021.000000,a,2021.000000,a,2021.000000,NaN,2021.0,b,2020.0
1,NaN,MEDIUM HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,116.0,Philippines,0.699,NaN,69.2664,NaN,13.126570,NaN,8.969100,NaN,8920.428468,NaN,-3.0,NaN,113.0
3,117.0,Botswana,0.693,NaN,61.1409,NaN,12.265138,e,10.340000,NaN,16198.318410,NaN,-43.0,NaN,110.0
4,118.0,Bolivia (Plurinational State of),0.692,NaN,63.6304,NaN,14.946971,NaN,9.827750,NaN,8111.190194,NaN,0.0,NaN,119.0
5,118.0,Kyrgyzstan,0.692,NaN,69.9774,NaN,13.195300,NaN,11.374106,n,4566.303831,NaN,26.0,NaN,121.0
6,120.0,Venezuela (Bolivarian Republic of),0.691,NaN,70.5536,NaN,12.816080,p,11.107277,e,4810.882621,t,20.0,NaN,118.0
7,121.0,Iraq,0.686,NaN,70.3779,NaN,12.087473,s,7.905593,m,9977.249073,NaN,-12.0,NaN,122.0
8,122.0,Tajikistan,0.685,NaN,71.5942,NaN,11.653036,e,11.333394,n,4547.742427,NaN,23.0,NaN,126.0
9,123.0,Belize,0.683,NaN,70.4697,NaN,12.991690,NaN,8.847600,NaN,6309.099778,NaN,6.0,NaN,120.0
10,123.0,Morocco,0.683,NaN,74.0419,NaN,14.151910,NaN,5.916000,NaN,7302.819170,NaN,1.0,NaN,122.0
11,125.0,El Salvador,0.675,NaN,70.7479,NaN,12.671348,o,7.150930,NaN,8295.665889,NaN,-8.0,NaN,124.0
12,126.0,Nicaragua,0.667,NaN,73.8368,NaN,12.641358,o,7.144000,NaN,5624.793595,NaN,6.0,NaN,129.0
13,127.0,Bhutan,0.666,NaN,71.8150,NaN,13.225005,e,5.170262,e,9437.541512,NaN,-15.0,NaN,125.0
14,128.0,Cabo Verde,0.662,NaN,74.0518,NaN,12.554614,e,6.287719,p,6230.200199,NaN,2.0,NaN,127.0
15,129.0,Bangladesh,0.661,NaN,72.3811,NaN,12.441980,NaN,7.379060,NaN,5472.104781,NaN,4.0,NaN,128.0
16,130.0,Tuvalu,0.641,NaN,64.5466,NaN,9.404430,e,10.573108,NaN,6351.435899,NaN,-2.0,NaN,131.0
17,131.0,Marshall Islands,0.639,NaN,65.2688,NaN,10.239320,NaN,10.883140,NaN,4619.535393,NaN,12.0,NaN,131.0
18,132.0,India,0.633,NaN,67.2398,NaN,11.874620,NaN,6.655109,n,6589.980037,NaN,-6.0,NaN,130.0
19,133.0,Ghana,0.632,NaN,63.7954,NaN,12.047780,NaN,8.329887,n,5744.504017,NaN,-2.0,NaN,135.0
20,134.0,Micronesia (Federated States of),0.628,NaN,70.7100,NaN,11.549480,j,7.804956,l,3696.173945,NaN,22.0,NaN,136.0
21,135.0,Guatemala,0.627,NaN,69.2368,NaN,10.562450,NaN,5.681300,NaN,8723.285317,NaN,-20.0,NaN,133.0
22,136.0,Kiribati,0.624,NaN,67.4172,NaN,11.801993,NaN,7.984462,s,4062.586034,NaN,14.0,NaN,137.0
23,137.0,Honduras,0.621,NaN,70.1229,NaN,10.132814,o,7.088480,NaN,5297.955301,NaN,-1.0,NaN,138.0
24,138.0,Sao Tome and Principe,0.618,NaN,67.5912,NaN,13.365385,NaN,6.215599,m,4021.350815,NaN,13.0,NaN,139.0
25,139.0,Namibia,0.615,NaN,59.2690,NaN,11.927207,u,7.192013,n,8633.504452,NaN,-23.0,NaN,134.0
26,140.0,Lao People's Democratic Republic,0.607,NaN,68.0608,NaN,10.136110,NaN,5.374000,NaN,7699.579617,NaN,-18.0,NaN,142.0
27,140.0,Timor-Leste,0.607,NaN,67.7369,NaN,12.616098,p,5.436790,NaN,4460.869435,NaN,7.0,NaN,140.0
28,140.0,Vanuatu,0.607,NaN,70.4490,NaN,11.535315,e,7.064846,v,3085.411633,NaN,23.0,NaN,142.0
29,143.0,Nepal,0.602,NaN,68.4495,NaN,12.886950,NaN,5.121793,n,3877.315444,NaN,10.0,NaN,144.0
30,144.0,Eswatini (Kingdom of),0.597,NaN,57.0657,NaN,13.744346,e,5.596000,NaN,7678.591873,NaN,-21.0,NaN,141.0
31,145.0,Equatorial Guinea,0.596,NaN,60.5943,NaN,9.734940,l,5.910863,j,12073.959930,NaN,-47.0,NaN,147.0
32,146.0,Cambodia,0.593,NaN,69.5835,NaN,11.467720,w,5.088000,NaN,4078.697154,NaN,3.0,NaN,148.0
33,146.0,Zimbabwe,0.593,NaN,59.2531,NaN,12.110969,e,8.710909,e,3809.887158,NaN,9.0,NaN,145.0
34,148.0,Angola,0.586,NaN,61.6434,NaN,12.172100,NaN,5.417391,NaN,5465.617791,NaN,-14.0,NaN,149.0
35,149.0,Myanmar,0.585,NaN,65.6716,NaN,10.909138,e,6.376800,NaN,3850.524234,NaN,5.0,NaN,145.0
36,150.0,Syrian Arab Republic,0.577,NaN,72.0627,NaN,9.164220,NaN,5.100000,l,4191.933893,x,-2.0,NaN,152.0
37,151.0,Cameroon,0.576,NaN,60.3334,NaN,13.108599,e,6.151310,n,3620.932408,NaN,6.0,NaN,150.0
38,152.0,Kenya,0.575,NaN,61.4270,NaN,10.698558,u,6.652000,NaN,4473.570344,NaN,-6.0,NaN,150.0
39,153.0,Congo,0.571,NaN,63.5187,NaN,12.330815,e,6.166000,NaN,2889.283521,NaN,11.0,NaN,153.0
40,154.0,Zambia,0.565,NaN,61.2234,NaN,10.928760,w,7.187091,n,3217.767739,NaN,7.0,NaN,154.0
41,155.0,Solomon Islands,0.564,NaN,70.3477,NaN,10.328690,e,5.711848,s,2481.511362,NaN,13.0,NaN,155.0
42,156.0,Comoros,0.558,NaN,63.4174,NaN,11.924324,e,5.078649,l,3142.064119,NaN,6.0,NaN,156.0
43,156.0,Papua New Guinea,0.558,NaN,65.3506,NaN,10.360771,u,4.740000,NaN,4008.623573,NaN,-4.0,NaN,157.0
44,158.0,Mauritania,0.556,NaN,64.3636,NaN,9.376160,NaN,4.918805,n,5075.305711,NaN,-20.0,NaN,158.0
45,159.0,Côte d'Ivoire,0.550,NaN,58.5983,NaN,10.675580,NaN,5.199139,n,5217.448516,NaN,-22.0,NaN,159.0

In [29]:
columnas_inservibles3 = level3.columns[[3,5,7,9,11,13]]
level3=level3.drop(columns=columnas_inservibles3)
level3

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,HDI rank.1
0,NaN,NaN,2021.000,2021.0000,2021.000000,2021.000000,2021.000000,2021.0,2020.0
1,NaN,MEDIUM HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,116.0,Philippines,0.699,69.2664,13.126570,8.969100,8920.428468,-3.0,113.0
3,117.0,Botswana,0.693,61.1409,12.265138,10.340000,16198.318410,-43.0,110.0
4,118.0,Bolivia (Plurinational State of),0.692,63.6304,14.946971,9.827750,8111.190194,0.0,119.0
5,118.0,Kyrgyzstan,0.692,69.9774,13.195300,11.374106,4566.303831,26.0,121.0
6,120.0,Venezuela (Bolivarian Republic of),0.691,70.5536,12.816080,11.107277,4810.882621,20.0,118.0
7,121.0,Iraq,0.686,70.3779,12.087473,7.905593,9977.249073,-12.0,122.0
8,122.0,Tajikistan,0.685,71.5942,11.653036,11.333394,4547.742427,23.0,126.0
9,123.0,Belize,0.683,70.4697,12.991690,8.847600,6309.099778,6.0,120.0
10,123.0,Morocco,0.683,74.0419,14.151910,5.916000,7302.819170,1.0,122.0
11,125.0,El Salvador,0.675,70.7479,12.671348,7.150930,8295.665889,-8.0,124.0
12,126.0,Nicaragua,0.667,73.8368,12.641358,7.144000,5624.793595,6.0,129.0
13,127.0,Bhutan,0.666,71.8150,13.225005,5.170262,9437.541512,-15.0,125.0
14,128.0,Cabo Verde,0.662,74.0518,12.554614,6.287719,6230.200199,2.0,127.0
15,129.0,Bangladesh,0.661,72.3811,12.441980,7.379060,5472.104781,4.0,128.0
16,130.0,Tuvalu,0.641,64.5466,9.404430,10.573108,6351.435899,-2.0,131.0
17,131.0,Marshall Islands,0.639,65.2688,10.239320,10.883140,4619.535393,12.0,131.0
18,132.0,India,0.633,67.2398,11.874620,6.655109,6589.980037,-6.0,130.0
19,133.0,Ghana,0.632,63.7954,12.047780,8.329887,5744.504017,-2.0,135.0
20,134.0,Micronesia (Federated States of),0.628,70.7100,11.549480,7.804956,3696.173945,22.0,136.0
21,135.0,Guatemala,0.627,69.2368,10.562450,5.681300,8723.285317,-20.0,133.0
22,136.0,Kiribati,0.624,67.4172,11.801993,7.984462,4062.586034,14.0,137.0
23,137.0,Honduras,0.621,70.1229,10.132814,7.088480,5297.955301,-1.0,138.0
24,138.0,Sao Tome and Principe,0.618,67.5912,13.365385,6.215599,4021.350815,13.0,139.0
25,139.0,Namibia,0.615,59.2690,11.927207,7.192013,8633.504452,-23.0,134.0
26,140.0,Lao People's Democratic Republic,0.607,68.0608,10.136110,5.374000,7699.579617,-18.0,142.0
27,140.0,Timor-Leste,0.607,67.7369,12.616098,5.436790,4460.869435,7.0,140.0
28,140.0,Vanuatu,0.607,70.4490,11.535315,7.064846,3085.411633,23.0,142.0
29,143.0,Nepal,0.602,68.4495,12.886950,5.121793,3877.315444,10.0,144.0
30,144.0,Eswatini (Kingdom of),0.597,57.0657,13.744346,5.596000,7678.591873,-21.0,141.0
31,145.0,Equatorial Guinea,0.596,60.5943,9.734940,5.910863,12073.959930,-47.0,147.0
32,146.0,Cambodia,0.593,69.5835,11.467720,5.088000,4078.697154,3.0,148.0
33,146.0,Zimbabwe,0.593,59.2531,12.110969,8.710909,3809.887158,9.0,145.0
34,148.0,Angola,0.586,61.6434,12.172100,5.417391,5465.617791,-14.0,149.0
35,149.0,Myanmar,0.585,65.6716,10.909138,6.376800,3850.524234,5.0,145.0
36,150.0,Syrian Arab Republic,0.577,72.0627,9.164220,5.100000,4191.933893,-2.0,152.0
37,151.0,Cameroon,0.576,60.3334,13.108599,6.151310,3620.932408,6.0,150.0
38,152.0,Kenya,0.575,61.4270,10.698558,6.652000,4473.570344,-6.0,150.0
39,153.0,Congo,0.571,63.5187,12.330815,6.166000,2889.283521,11.0,153.0
40,154.0,Zambia,0.565,61.2234,10.928760,7.187091,3217.767739,7.0,154.0
41,155.0,Solomon Islands,0.564,70.3477,10.328690,5.711848,2481.511362,13.0,155.0
42,156.0,Comoros,0.558,63.4174,11.924324,5.078649,3142.064119,6.0,156.0
43,156.0,Papua New Guinea,0.558,65.3506,10.360771,4.740000,4008.623573,-4.0,157.0
44,158.0,Mauritania,0.556,64.3636,9.376160,4.918805,5075.305711,-20.0,158.0
45,159.0,Côte d'Ivoire,0.550,58.5983,10.675580,5.199139,5217.448516,-22.0,159.0

In [34]:
nuevos_nombres3={'HDI rank':'HDI_Rank','Human Development Index (HDI) ':'HDI_Index','Life expectancy at birth':'Life_Expectancy',
                'Expected years of schooling':'Expected_schooling_years','Mean years of schooling':'Mean_schooling_years','Gross national income (GNI) per capita':'GNI_per_capita','GNI per capita rank minus HDI rank':'GNIRank_minus_HDIRank',
                'HDI rank.1':'HDI_Rank_2020'}
level3.rename(columns=nuevos_nombres3, inplace=True)
level3

,HDI_Rank,Country,HDI_Index,Life_Expectancy,Expected_schooling_years,Mean_schooling_years,GNI_per_capita,GNIRank_minus_HDIRank,HDI_Rank_2020
0,NaN,NaN,2021.000,2021.0000,2021.000000,2021.000000,2021.000000,2021.0,2020.0
1,NaN,MEDIUM HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,116.0,Philippines,0.699,69.2664,13.126570,8.969100,8920.428468,-3.0,113.0
3,117.0,Botswana,0.693,61.1409,12.265138,10.340000,16198.318410,-43.0,110.0
4,118.0,Bolivia (Plurinational State of),0.692,63.6304,14.946971,9.827750,8111.190194,0.0,119.0
5,118.0,Kyrgyzstan,0.692,69.9774,13.195300,11.374106,4566.303831,26.0,121.0
6,120.0,Venezuela (Bolivarian Republic of),0.691,70.5536,12.816080,11.107277,4810.882621,20.0,118.0
7,121.0,Iraq,0.686,70.3779,12.087473,7.905593,9977.249073,-12.0,122.0
8,122.0,Tajikistan,0.685,71.5942,11.653036,11.333394,4547.742427,23.0,126.0
9,123.0,Belize,0.683,70.4697,12.991690,8.847600,6309.099778,6.0,120.0
10,123.0,Morocco,0.683,74.0419,14.151910,5.916000,7302.819170,1.0,122.0
11,125.0,El Salvador,0.675,70.7479,12.671348,7.150930,8295.665889,-8.0,124.0
12,126.0,Nicaragua,0.667,73.8368,12.641358,7.144000,5624.793595,6.0,129.0
13,127.0,Bhutan,0.666,71.8150,13.225005,5.170262,9437.541512,-15.0,125.0
14,128.0,Cabo Verde,0.662,74.0518,12.554614,6.287719,6230.200199,2.0,127.0
15,129.0,Bangladesh,0.661,72.3811,12.441980,7.379060,5472.104781,4.0,128.0
16,130.0,Tuvalu,0.641,64.5466,9.404430,10.573108,6351.435899,-2.0,131.0
17,131.0,Marshall Islands,0.639,65.2688,10.239320,10.883140,4619.535393,12.0,131.0
18,132.0,India,0.633,67.2398,11.874620,6.655109,6589.980037,-6.0,130.0
19,133.0,Ghana,0.632,63.7954,12.047780,8.329887,5744.504017,-2.0,135.0
20,134.0,Micronesia (Federated States of),0.628,70.7100,11.549480,7.804956,3696.173945,22.0,136.0
21,135.0,Guatemala,0.627,69.2368,10.562450,5.681300,8723.285317,-20.0,133.0
22,136.0,Kiribati,0.624,67.4172,11.801993,7.984462,4062.586034,14.0,137.0
23,137.0,Honduras,0.621,70.1229,10.132814,7.088480,5297.955301,-1.0,138.0
24,138.0,Sao Tome and Principe,0.618,67.5912,13.365385,6.215599,4021.350815,13.0,139.0
25,139.0,Namibia,0.615,59.2690,11.927207,7.192013,8633.504452,-23.0,134.0
26,140.0,Lao People's Democratic Republic,0.607,68.0608,10.136110,5.374000,7699.579617,-18.0,142.0
27,140.0,Timor-Leste,0.607,67.7369,12.616098,5.436790,4460.869435,7.0,140.0
28,140.0,Vanuatu,0.607,70.4490,11.535315,7.064846,3085.411633,23.0,142.0
29,143.0,Nepal,0.602,68.4495,12.886950,5.121793,3877.315444,10.0,144.0
30,144.0,Eswatini (Kingdom of),0.597,57.0657,13.744346,5.596000,7678.591873,-21.0,141.0
31,145.0,Equatorial Guinea,0.596,60.5943,9.734940,5.910863,12073.959930,-47.0,147.0
32,146.0,Cambodia,0.593,69.5835,11.467720,5.088000,4078.697154,3.0,148.0
33,146.0,Zimbabwe,0.593,59.2531,12.110969,8.710909,3809.887158,9.0,145.0
34,148.0,Angola,0.586,61.6434,12.172100,5.417391,5465.617791,-14.0,149.0
35,149.0,Myanmar,0.585,65.6716,10.909138,6.376800,3850.524234,5.0,145.0
36,150.0,Syrian Arab Republic,0.577,72.0627,9.164220,5.100000,4191.933893,-2.0,152.0
37,151.0,Cameroon,0.576,60.3334,13.108599,6.151310,3620.932408,6.0,150.0
38,152.0,Kenya,0.575,61.4270,10.698558,6.652000,4473.570344,-6.0,150.0
39,153.0,Congo,0.571,63.5187,12.330815,6.166000,2889.283521,11.0,153.0
40,154.0,Zambia,0.565,61.2234,10.928760,7.187091,3217.767739,7.0,154.0
41,155.0,Solomon Islands,0.564,70.3477,10.328690,5.711848,2481.511362,13.0,155.0
42,156.0,Comoros,0.558,63.4174,11.924324,5.078649,3142.064119,6.0,156.0
43,156.0,Papua New Guinea,0.558,65.3506,10.360771,4.740000,4008.623573,-4.0,157.0
44,158.0,Mauritania,0.556,64.3636,9.376160,4.918805,5075.305711,-20.0,158.0
45,159.0,Côte d'Ivoire,0.550,58.5983,10.675580,5.199139,5217.448516,-22.0,159.0

In [37]:
level3=level3.drop(1)
level3

,HDI_Rank,Country,HDI_Index,Life_Expectancy,Expected_schooling_years,Mean_schooling_years,GNI_per_capita,GNIRank_minus_HDIRank,HDI_Rank_2020
0,NaN,NaN,2021.000,2021.0000,2021.000000,2021.000000,2021.000000,2021.0,2020.0
2,116.0,Philippines,0.699,69.2664,13.126570,8.969100,8920.428468,-3.0,113.0
3,117.0,Botswana,0.693,61.1409,12.265138,10.340000,16198.318410,-43.0,110.0
4,118.0,Bolivia (Plurinational State of),0.692,63.6304,14.946971,9.827750,8111.190194,0.0,119.0
5,118.0,Kyrgyzstan,0.692,69.9774,13.195300,11.374106,4566.303831,26.0,121.0
6,120.0,Venezuela (Bolivarian Republic of),0.691,70.5536,12.816080,11.107277,4810.882621,20.0,118.0
7,121.0,Iraq,0.686,70.3779,12.087473,7.905593,9977.249073,-12.0,122.0
8,122.0,Tajikistan,0.685,71.5942,11.653036,11.333394,4547.742427,23.0,126.0
9,123.0,Belize,0.683,70.4697,12.991690,8.847600,6309.099778,6.0,120.0
10,123.0,Morocco,0.683,74.0419,14.151910,5.916000,7302.819170,1.0,122.0
11,125.0,El Salvador,0.675,70.7479,12.671348,7.150930,8295.665889,-8.0,124.0
12,126.0,Nicaragua,0.667,73.8368,12.641358,7.144000,5624.793595,6.0,129.0
13,127.0,Bhutan,0.666,71.8150,13.225005,5.170262,9437.541512,-15.0,125.0
14,128.0,Cabo Verde,0.662,74.0518,12.554614,6.287719,6230.200199,2.0,127.0
15,129.0,Bangladesh,0.661,72.3811,12.441980,7.379060,5472.104781,4.0,128.0
16,130.0,Tuvalu,0.641,64.5466,9.404430,10.573108,6351.435899,-2.0,131.0
17,131.0,Marshall Islands,0.639,65.2688,10.239320,10.883140,4619.535393,12.0,131.0
18,132.0,India,0.633,67.2398,11.874620,6.655109,6589.980037,-6.0,130.0
19,133.0,Ghana,0.632,63.7954,12.047780,8.329887,5744.504017,-2.0,135.0
20,134.0,Micronesia (Federated States of),0.628,70.7100,11.549480,7.804956,3696.173945,22.0,136.0
21,135.0,Guatemala,0.627,69.2368,10.562450,5.681300,8723.285317,-20.0,133.0
22,136.0,Kiribati,0.624,67.4172,11.801993,7.984462,4062.586034,14.0,137.0
23,137.0,Honduras,0.621,70.1229,10.132814,7.088480,5297.955301,-1.0,138.0
24,138.0,Sao Tome and Principe,0.618,67.5912,13.365385,6.215599,4021.350815,13.0,139.0
25,139.0,Namibia,0.615,59.2690,11.927207,7.192013,8633.504452,-23.0,134.0
26,140.0,Lao People's Democratic Republic,0.607,68.0608,10.136110,5.374000,7699.579617,-18.0,142.0
27,140.0,Timor-Leste,0.607,67.7369,12.616098,5.436790,4460.869435,7.0,140.0
28,140.0,Vanuatu,0.607,70.4490,11.535315,7.064846,3085.411633,23.0,142.0
29,143.0,Nepal,0.602,68.4495,12.886950,5.121793,3877.315444,10.0,144.0
30,144.0,Eswatini (Kingdom of),0.597,57.0657,13.744346,5.596000,7678.591873,-21.0,141.0
31,145.0,Equatorial Guinea,0.596,60.5943,9.734940,5.910863,12073.959930,-47.0,147.0
32,146.0,Cambodia,0.593,69.5835,11.467720,5.088000,4078.697154,3.0,148.0
33,146.0,Zimbabwe,0.593,59.2531,12.110969,8.710909,3809.887158,9.0,145.0
34,148.0,Angola,0.586,61.6434,12.172100,5.417391,5465.617791,-14.0,149.0
35,149.0,Myanmar,0.585,65.6716,10.909138,6.376800,3850.524234,5.0,145.0
36,150.0,Syrian Arab Republic,0.577,72.0627,9.164220,5.100000,4191.933893,-2.0,152.0
37,151.0,Cameroon,0.576,60.3334,13.108599,6.151310,3620.932408,6.0,150.0
38,152.0,Kenya,0.575,61.4270,10.698558,6.652000,4473.570344,-6.0,150.0
39,153.0,Congo,0.571,63.5187,12.330815,6.166000,2889.283521,11.0,153.0
40,154.0,Zambia,0.565,61.2234,10.928760,7.187091,3217.767739,7.0,154.0
41,155.0,Solomon Islands,0.564,70.3477,10.328690,5.711848,2481.511362,13.0,155.0
42,156.0,Comoros,0.558,63.4174,11.924324,5.078649,3142.064119,6.0,156.0
43,156.0,Papua New Guinea,0.558,65.3506,10.360771,4.740000,4008.623573,-4.0,157.0
44,158.0,Mauritania,0.556,64.3636,9.376160,4.918805,5075.305711,-20.0,158.0
45,159.0,Côte d'Ivoire,0.550,58.5983,10.675580,5.199139,5217.448516,-22.0,159.0

In [44]:
#Finalmente la 4ta parte
import pandas as pd
level4 = pd.read_excel('level4.xlsx')
level4

,HDI rank,Country,Unnamed: 2,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,le
0,160,Tanzania (United Republic of),LOW HUMAN DEVELOPMENT,0.549,66.2007,9.221490,6.372899,2664.329096,7,NaN
1,161,Pakistan,LOW HUMAN DEVELOPMENT,0.544,66.0979,8.658350,4.536330,4623.705430,-19,NaN
2,162,Togo,LOW HUMAN DEVELOPMENT,0.539,61.6194,12.950494,5.016807,2166.619062,12,NaN
3,163,Haiti,LOW HUMAN DEVELOPMENT,0.535,63.1924,9.700000,5.554000,2847.500746,2,NaN
4,163,Nigeria,LOW HUMAN DEVELOPMENT,0.535,52.6760,10.127584,7.181074,4790.284425,-22,NaN
5,165,Rwanda,LOW HUMAN DEVELOPMENT,0.534,66.0722,11.230970,4.425292,2209.795202,6,NaN
6,166,Benin,LOW HUMAN DEVELOPMENT,0.525,59.8210,10.766680,4.304786,3408.965923,-7,NaN
7,166,Uganda,LOW HUMAN DEVELOPMENT,0.525,62.7048,10.149870,5.730942,2181.436510,6,NaN
8,168,Lesotho,LOW HUMAN DEVELOPMENT,0.514,53.0620,12.040878,6.010185,2700.435748,-2,NaN
9,169,Malawi,LOW HUMAN DEVELOPMENT,0.512,62.9044,12.678985,4.489695,1465.635064,13,NaN
10,170,Senegal,LOW HUMAN DEVELOPMENT,0.511,67.0926,8.963750,2.937938,3344.311825,-10,NaN
11,171,Djibouti,LOW HUMAN DEVELOPMENT,0.509,62.3049,7.432980,4.100000,5024.993944,-32,NaN
12,172,Sudan,LOW HUMAN DEVELOPMENT,0.508,65.2667,7.945188,3.820000,3575.190840,-14,NaN
13,173,Madagascar,LOW HUMAN DEVELOPMENT,0.501,64.4853,10.134991,5.120469,1483.520983,8,NaN
14,174,Gambia,LOW HUMAN DEVELOPMENT,0.500,62.0830,9.418626,4.637487,2172.207664,-1,NaN
15,175,Ethiopia,LOW HUMAN DEVELOPMENT,0.498,64.9748,9.651071,3.201521,2361.069604,-5,NaN
16,176,Eritrea,LOW HUMAN DEVELOPMENT,0.492,66.5358,8.064525,4.887235,1728.742667,3,NaN
17,177,Guinea-Bissau,LOW HUMAN DEVELOPMENT,0.483,59.6523,10.613063,3.583719,1908.241590,0,NaN
18,178,Liberia,LOW HUMAN DEVELOPMENT,0.481,60.7472,10.420790,5.082000,1288.742350,7,NaN
19,179,Congo (Democratic Republic of the),LOW HUMAN DEVELOPMENT,0.479,59.1930,9.817864,7.018697,1076.098781,9,NaN
20,180,Afghanistan,LOW HUMAN DEVELOPMENT,0.478,61.9824,10.263844,2.985070,1824.190915,-2,NaN
21,181,Sierra Leone,LOW HUMAN DEVELOPMENT,0.477,60.0624,9.573391,4.576081,1621.512579,-1,NaN
22,182,Guinea,LOW HUMAN DEVELOPMENT,0.465,58.8922,9.805297,2.202126,2480.887182,-13,NaN
23,183,Yemen,LOW HUMAN DEVELOPMENT,0.455,63.7534,9.098710,3.200000,1314.270189,1,NaN
24,184,Burkina Faso,LOW HUMAN DEVELOPMENT,0.449,59.2696,9.142100,2.114962,2117.915916,-8,NaN
25,185,Mozambique,LOW HUMAN DEVELOPMENT,0.446,59.3247,10.219152,3.197642,1198.073924,2,NaN
26,186,Mali,LOW HUMAN DEVELOPMENT,0.428,58.9414,7.423038,2.310000,2132.629443,-11,NaN
27,187,Burundi,LOW HUMAN DEVELOPMENT,0.426,61.6627,10.722722,3.129267,731.786709,4,NaN
28,188,Central African Republic,LOW HUMAN DEVELOPMENT,0.404,53.8947,8.040172,4.334000,966.058611,1,NaN
29,189,Niger,LOW HUMAN DEVELOPMENT,0.400,61.5763,6.957112,2.116717,1239.866936,-3,NaN
30,190,Chad,LOW HUMAN DEVELOPMENT,0.394,52.5254,8.035914,2.573774,1364.169417,-7,NaN
31,191,South Sudan,LOW HUMAN DEVELOPMENT,0.385,54.9752,5.542510,5.726140,767.787000,-1,NaN

In [ ]:
level4= level4.drop('Unnamed: 2',axis=1)

In [55]:
level4

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth,Expected years of schooling,Mean years of schooling,Gross national income (GNI) per capita,GNI per capita rank minus HDI rank,le
0,160,Tanzania (United Republic of),0.549,66.2007,9.221490,6.372899,2664.329096,7,NaN
1,161,Pakistan,0.544,66.0979,8.658350,4.536330,4623.705430,-19,NaN
2,162,Togo,0.539,61.6194,12.950494,5.016807,2166.619062,12,NaN
3,163,Haiti,0.535,63.1924,9.700000,5.554000,2847.500746,2,NaN
4,163,Nigeria,0.535,52.6760,10.127584,7.181074,4790.284425,-22,NaN
5,165,Rwanda,0.534,66.0722,11.230970,4.425292,2209.795202,6,NaN
6,166,Benin,0.525,59.8210,10.766680,4.304786,3408.965923,-7,NaN
7,166,Uganda,0.525,62.7048,10.149870,5.730942,2181.436510,6,NaN
8,168,Lesotho,0.514,53.0620,12.040878,6.010185,2700.435748,-2,NaN
9,169,Malawi,0.512,62.9044,12.678985,4.489695,1465.635064,13,NaN
10,170,Senegal,0.511,67.0926,8.963750,2.937938,3344.311825,-10,NaN
11,171,Djibouti,0.509,62.3049,7.432980,4.100000,5024.993944,-32,NaN
12,172,Sudan,0.508,65.2667,7.945188,3.820000,3575.190840,-14,NaN
13,173,Madagascar,0.501,64.4853,10.134991,5.120469,1483.520983,8,NaN
14,174,Gambia,0.500,62.0830,9.418626,4.637487,2172.207664,-1,NaN
15,175,Ethiopia,0.498,64.9748,9.651071,3.201521,2361.069604,-5,NaN
16,176,Eritrea,0.492,66.5358,8.064525,4.887235,1728.742667,3,NaN
17,177,Guinea-Bissau,0.483,59.6523,10.613063,3.583719,1908.241590,0,NaN
18,178,Liberia,0.481,60.7472,10.420790,5.082000,1288.742350,7,NaN
19,179,Congo (Democratic Republic of the),0.479,59.1930,9.817864,7.018697,1076.098781,9,NaN
20,180,Afghanistan,0.478,61.9824,10.263844,2.985070,1824.190915,-2,NaN
21,181,Sierra Leone,0.477,60.0624,9.573391,4.576081,1621.512579,-1,NaN
22,182,Guinea,0.465,58.8922,9.805297,2.202126,2480.887182,-13,NaN
23,183,Yemen,0.455,63.7534,9.098710,3.200000,1314.270189,1,NaN
24,184,Burkina Faso,0.449,59.2696,9.142100,2.114962,2117.915916,-8,NaN
25,185,Mozambique,0.446,59.3247,10.219152,3.197642,1198.073924,2,NaN
26,186,Mali,0.428,58.9414,7.423038,2.310000,2132.629443,-11,NaN
27,187,Burundi,0.426,61.6627,10.722722,3.129267,731.786709,4,NaN
28,188,Central African Republic,0.404,53.8947,8.040172,4.334000,966.058611,1,NaN
29,189,Niger,0.400,61.5763,6.957112,2.116717,1239.866936,-3,NaN
30,190,Chad,0.394,52.5254,8.035914,2.573774,1364.169417,-7,NaN
31,191,South Sudan,0.385,54.9752,5.542510,5.726140,767.787000,-1,NaN

In [56]:
nuevos_nombres4={'HDI rank':'HDI_Rank','Human Development Index (HDI) ':'HDI_Index','Life expectancy at birth':'Life_Expectancy',
                'Expected years of schooling':'Expected_schooling_years','Mean years of schooling':'Mean_schooling_years','Gross national income (GNI) per capita':'GNI_per_capita','GNI per capita rank minus HDI rank':'GNIRank_minus_HDIRank',
                'HDI rank.1':'HDI_Rank_2020'}
level4.rename(columns=nuevos_nombres3, inplace=True)
level4

,HDI_Rank,Country,HDI_Index,Life_Expectancy,Expected_schooling_years,Mean_schooling_years,GNI_per_capita,GNIRank_minus_HDIRank,le
0,160,Tanzania (United Republic of),0.549,66.2007,9.221490,6.372899,2664.329096,7,NaN
1,161,Pakistan,0.544,66.0979,8.658350,4.536330,4623.705430,-19,NaN
2,162,Togo,0.539,61.6194,12.950494,5.016807,2166.619062,12,NaN
3,163,Haiti,0.535,63.1924,9.700000,5.554000,2847.500746,2,NaN
4,163,Nigeria,0.535,52.6760,10.127584,7.181074,4790.284425,-22,NaN
5,165,Rwanda,0.534,66.0722,11.230970,4.425292,2209.795202,6,NaN
6,166,Benin,0.525,59.8210,10.766680,4.304786,3408.965923,-7,NaN
7,166,Uganda,0.525,62.7048,10.149870,5.730942,2181.436510,6,NaN
8,168,Lesotho,0.514,53.0620,12.040878,6.010185,2700.435748,-2,NaN
9,169,Malawi,0.512,62.9044,12.678985,4.489695,1465.635064,13,NaN
10,170,Senegal,0.511,67.0926,8.963750,2.937938,3344.311825,-10,NaN
11,171,Djibouti,0.509,62.3049,7.432980,4.100000,5024.993944,-32,NaN
12,172,Sudan,0.508,65.2667,7.945188,3.820000,3575.190840,-14,NaN
13,173,Madagascar,0.501,64.4853,10.134991,5.120469,1483.520983,8,NaN
14,174,Gambia,0.500,62.0830,9.418626,4.637487,2172.207664,-1,NaN
15,175,Ethiopia,0.498,64.9748,9.651071,3.201521,2361.069604,-5,NaN
16,176,Eritrea,0.492,66.5358,8.064525,4.887235,1728.742667,3,NaN
17,177,Guinea-Bissau,0.483,59.6523,10.613063,3.583719,1908.241590,0,NaN
18,178,Liberia,0.481,60.7472,10.420790,5.082000,1288.742350,7,NaN
19,179,Congo (Democratic Republic of the),0.479,59.1930,9.817864,7.018697,1076.098781,9,NaN
20,180,Afghanistan,0.478,61.9824,10.263844,2.985070,1824.190915,-2,NaN
21,181,Sierra Leone,0.477,60.0624,9.573391,4.576081,1621.512579,-1,NaN
22,182,Guinea,0.465,58.8922,9.805297,2.202126,2480.887182,-13,NaN
23,183,Yemen,0.455,63.7534,9.098710,3.200000,1314.270189,1,NaN
24,184,Burkina Faso,0.449,59.2696,9.142100,2.114962,2117.915916,-8,NaN
25,185,Mozambique,0.446,59.3247,10.219152,3.197642,1198.073924,2,NaN
26,186,Mali,0.428,58.9414,7.423038,2.310000,2132.629443,-11,NaN
27,187,Burundi,0.426,61.6627,10.722722,3.129267,731.786709,4,NaN
28,188,Central African Republic,0.404,53.8947,8.040172,4.334000,966.058611,1,NaN
29,189,Niger,0.400,61.5763,6.957112,2.116717,1239.866936,-3,NaN
30,190,Chad,0.394,52.5254,8.035914,2.573774,1364.169417,-7,NaN
31,191,South Sudan,0.385,54.9752,5.542510,5.726140,767.787000,-1,NaN

In [ ]:
#Olvide eliminar la ultima columna
level4= level4.drop('le',axis=1)

In [59]:
level4

,HDI_Rank,Country,HDI_Index,Life_Expectancy,Expected_schooling_years,Mean_schooling_years,GNI_per_capita,GNIRank_minus_HDIRank
0,160,Tanzania (United Republic of),0.549,66.2007,9.221490,6.372899,2664.329096,7
1,161,Pakistan,0.544,66.0979,8.658350,4.536330,4623.705430,-19
2,162,Togo,0.539,61.6194,12.950494,5.016807,2166.619062,12
3,163,Haiti,0.535,63.1924,9.700000,5.554000,2847.500746,2
4,163,Nigeria,0.535,52.6760,10.127584,7.181074,4790.284425,-22
5,165,Rwanda,0.534,66.0722,11.230970,4.425292,2209.795202,6
6,166,Benin,0.525,59.8210,10.766680,4.304786,3408.965923,-7
7,166,Uganda,0.525,62.7048,10.149870,5.730942,2181.436510,6
8,168,Lesotho,0.514,53.0620,12.040878,6.010185,2700.435748,-2
9,169,Malawi,0.512,62.9044,12.678985,4.489695,1465.635064,13
10,170,Senegal,0.511,67.0926,8.963750,2.937938,3344.311825,-10
11,171,Djibouti,0.509,62.3049,7.432980,4.100000,5024.993944,-32
12,172,Sudan,0.508,65.2667,7.945188,3.820000,3575.190840,-14
13,173,Madagascar,0.501,64.4853,10.134991,5.120469,1483.520983,8
14,174,Gambia,0.500,62.0830,9.418626,4.637487,2172.207664,-1
15,175,Ethiopia,0.498,64.9748,9.651071,3.201521,2361.069604,-5
16,176,Eritrea,0.492,66.5358,8.064525,4.887235,1728.742667,3
17,177,Guinea-Bissau,0.483,59.6523,10.613063,3.583719,1908.241590,0
18,178,Liberia,0.481,60.7472,10.420790,5.082000,1288.742350,7
19,179,Congo (Democratic Republic of the),0.479,59.1930,9.817864,7.018697,1076.098781,9
20,180,Afghanistan,0.478,61.9824,10.263844,2.985070,1824.190915,-2
21,181,Sierra Leone,0.477,60.0624,9.573391,4.576081,1621.512579,-1
22,182,Guinea,0.465,58.8922,9.805297,2.202126,2480.887182,-13
23,183,Yemen,0.455,63.7534,9.098710,3.200000,1314.270189,1
24,184,Burkina Faso,0.449,59.2696,9.142100,2.114962,2117.915916,-8
25,185,Mozambique,0.446,59.3247,10.219152,3.197642,1198.073924,2
26,186,Mali,0.428,58.9414,7.423038,2.310000,2132.629443,-11
27,187,Burundi,0.426,61.6627,10.722722,3.129267,731.786709,4
28,188,Central African Republic,0.404,53.8947,8.040172,4.334000,966.058611,1
29,189,Niger,0.400,61.5763,6.957112,2.116717,1239.866936,-3
30,190,Chad,0.394,52.5254,8.035914,2.573774,1364.169417,-7
31,191,South Sudan,0.385,54.9752,5.542510,5.726140,767.787000,-1

In [61]:
#Se unen level1 2 3 y 4 en uno solo
levelfinal = pd.concat([level1,level2,level3,level4], ignore_index=True)
levelfinal

,HDI_Rank,Country,HDI_Index,Life_Expectancy,Expected_schooling_years,Mean_schooling_years,GNI_per_capita,GNIRank_minus_HDIRank,HDI_Rank_2020,Unnamed: 15,HDI rank
0,2,Norway,0.961,83.2339,18.1852,13.00363,64660.10622,6,1,VERY HIGH HUMAN DEVELOPMENT,NaN
1,3,Iceland,0.959,82.6782,19.163059,13.76717,55782.04981,11,2,VERY HIGH HUMAN DEVELOPMENT,NaN
2,4,"Hong Kong, China (SAR)",0.952,85.4734,17.27817,12.22621,62606.8454,6,4,VERY HIGH HUMAN DEVELOPMENT,NaN
3,5,Australia,0.951,84.5265,21.05459,12.72682,49238.43335,18,5,VERY HIGH HUMAN DEVELOPMENT,NaN
4,6,Denmark,0.948,81.3753,18.7148,12.96049,60364.78595,6,5,VERY HIGH HUMAN DEVELOPMENT,NaN
...,...,...,...,...,...,...,...,...,...,...,...
185,187,Burundi,0.426,61.6627,10.722722,3.129267,731.786709,4,NaN,NaN,NaN
186,188,Central African Republic,0.404,53.8947,8.040172,4.334,966.058611,1,NaN,NaN,NaN
187,189,Niger,0.4,61.5763,6.957112,2.116717,1239.866936,-3,NaN,NaN,NaN
188,190,Chad,0.394,52.5254,8.035914,2.573774,1364.169417,-7,NaN,NaN,NaN
189,191,South Sudan,0.385,54.9752,5.54251,5.72614,767.787,-1,NaN,NaN,NaN